<div class="page-header">
    <h4>Home</h4>
    <p>Welcome to Prototype Page.</p>
    <table id="myTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Spalte A</th>
                <th>Spalte B</th>
                <th>Spalte C</th>
                <th>Spalte D</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Value 1</td>
                <td>Value 1</td>
                <td>Value 1</td>
                <td>Value 1</td>
            </tr>
            <tr>
                <td>Value 2</td>
                <td>Value 2</td>
                <td>Value 2</td>
                <td>Value 2</td>
            </tr>
            <tr>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
            </tr>
            <tr>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
            </tr>

            <tr>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
            </tr>
            <tr>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
            </tr>

            <tr>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
            </tr>

            <tr>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
            </tr>
            <tr>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
            </tr>
            <tr>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
            </tr>
            <tr>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
            </tr>
            <tr>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
                <td>Value 3</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="success" colspan="4">Table Footer</td>
            </tr>
        </tfoot>
    </table>
</div>
